
button{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 45rem;
}

a{
    color: #fff;
    text-decoration: none;
    display:block;

}

a:hover{
    color: #5476a4;
}

table {
    margin-left: 7rem;
    border: 1px solid;
    background: #fff;
    width: 40rem;
    height: 10rem;
    overflow: scroll;
    border-collapse: collapse;
    text-align: center;
   
}

.y_data{

    background: #009C48;
    width: 50rem;
    height: 2.5rem;
    margin: 2rem;
    margin-bottom: 10rem;
}