form {
    width: 40rem;
    height: 5rem;
    padding: 1rem;
    margin-left: 15rem;
    margin-top: 4rem;
    position: relative;
}
input[type=text]{
    width: 10rem;
    height: 2rem;
}

select{
    width: 10rem;
    height: 2rem;
    text-align: center;
    background: #5476a4;
    color: #fff;
}
.buttom_order{
    display: flex;
    flex-direction: row;
    margin: 1rem ;

}
.buttom_order>button{
    background: #F00;
    width: 8rem;
    margin: 1rem;
}

table {
    margin-left: 7rem;
    border: 1px solid;
    background: #fff;
    width: 40rem;
    height: 50rem;
    overflow: scroll;
    border-collapse: collapse;
    text-align: center;
   
}

th {
    
    background: #808080;
    border: 1px #000 solid;
    padding: 0;
    height: 4rem;
    
}
td {
    border: 1px #000 solid ;
    height: 4rem;
}
.table_product{
    overflow: auto;
}
a{
    color: #fff;
    text-decoration: none;
    display:block;

}

a:hover{
    color: #5476a4;
}