head
  title Admin Panel
  
  link(rel='stylesheet' href='style/main_style.css')
  link(rel='stylesheet' href='style/admin.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap' rel='stylesheet')
  
.menu
  img(src='img/logo1.svg' alt='logo')
  nav
    ul
      li
        a(href='\product') Product
      li
        a(href='\order') Order
      li
        a(href='\customers') Customers
      li
        a(href='\ ready_products') Ready Products
      li
        a(href='\archives') Archives
      br
      br
      li
        a(href='sing_out') Sing out
.main
  h1 Hi,ADMIN
  .menu_admin
    a#product(href='product') Product
    a#order(href='order') Order
    a#customers(href='customers') Customers
    a#ready_products(href='ready_products') Ready Products
    a#archivest(href='archivest') Archivest
    a#sing_out(href='sing_out') Sing out
