<head>
  <title>Comments</title>
  <link rel="stylesheet" href="style/main_style.css">
  <link rel="stylesheet" href="style/comments.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<div class="menu"><img src="./img/logo1.svg" alt="logo">
  <nav>
    <ul><a href="/my_order">
        <li>My order</li>
      </a><a href="/comments">
        <li>Comments</li>
      </a>
      <br><br><a href="/sing_out">
      <li>Sing out</li></a>
    </ul>
  </nav>
</div>
<div class="main">
  <div class="position">
    
  </div>
  <div class="comments">
    <h3>ENTER ID PORDUCT</h3>
    <form action="/comments" method="POST">
    <input type="text" name="id_order" placeholder="id_order">
    <h3>COMMENTS</h3>
    <textarea rows="4" cols="38" name="comments"></textarea><br>
    <button type="submit">SAVE</button>
    <h2>{{message}}</h2>
  </form>
  </div>
</div>