head
  title Comments
  link(rel='stylesheet' href='style/main_style.css')
  link(rel='stylesheet' href='style/comments.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap' rel='stylesheet')
.menu
  img(src='./img/logo1.svg' alt='logo')
  nav
    ul
      a(href='/job_description')
        li Job Description
      a(href='/order_user')
        li Order
      a(href='/comments')
        li Comments
      br
      br
      a(href='/sing_out')
      li Sing out
.main
  .position
    h1 Printer
  .comments
    h3 ENTER ID PORDUCT
    input(type='text' name='id_product' placeholder='id_product')
    h3 COMMENTS
    textarea(rows='4' cols='38')
    br
    button(type='submit') SAVE
