<head>
  <title>STRADE</title>
  <link rel="stylesheet" href="style/index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<div class="error">
<h1>ERROR</h1>
you don't have access to this page 


</div>