<head>
  <title>STRADE</title>
  <link rel="stylesheet" href="style/index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<div class="sing_in">
  <div class="login"><img src="./img/logo1.svg">
    <p>{{err}}</p>
    <form action="/" method="POST"><label for="user_nick">User:</label><input id="user_nick" type="text" name="user_nick"><br><label for="user_password">Password:</label><input id="user_password" type="password" name="user_pass"><br><button type="submit">Sign in</button></form>
  </div>
</div>