head
  title Job Description
  link(rel='stylesheet' href='style/main_style.css')
  link(rel='stylesheet' href='style/job_description.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap' rel='stylesheet')
.menu
  img(src='./img/logo1.svg' alt='logo')
  nav
    ul
      a(href='/job_description')
        li Job Description
      a(href='/order_user')
        li Order
      a(href='/comments')
        li Comments
      br
      br
      a(href='/sing_out')
      li Sing out
.main
  .position
    h1 Printer
  .description
    br
    br
    br
    ol
      li clear the window 
      li paint with a primer  
      li wait 1h  
      li paint with the main paint 
      li wait 2h
      li send to the next station 
