<head>
  <title>Order User</title>
  <link rel="stylesheet" href="style/main_style.css">
  <link rel="stylesheet" href="style/order_user.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<div class="menu"><img src="./img/logo1.svg" alt="logo">
  <nav>
    <ul><a href="/job_description">
        <li>Job Description</li>
      </a><a href="/order_user">
        <li>Order</li>
      </a><a href="/comments">
        <li>Comments</li>
      </a><br><br><a href="/sing_out"></a>
      <li>Sing out</li>
    </ul>
  </nav>
</div>
<div class="main">
  <div class="enter_id">
    <h1>ORDER</h1><input type="text" placeholder="id_product"><button type="submit">Search</button><br> ID:203<br> Model:MORDENA<br> Customers:NOKIA<br>
    <div class="to_do">
      <form><input id="printer_1" type="checkbox"><label for="printer_1">clear the window</label><br><input id="printer_2" type="checkbox"><label for="printer_2">paint with a primer</label><br><input id="printer_3" type="checkbox"><label for="printer_3">wait 1h</label><br><input id="printer_4" type="checkbox"><label for="printer_4">paint with the main paint</label><br><input id="printer_5" type="checkbox"><label for="printer_5">wait 2h</label><br><input id="printer_6" type="checkbox"><label for="printer_6">send to the next station</label></form>
    </div><button type="submit">SAVE AND EXIT</button>
  </div>
</div>