head
  title Ready Product
  link(rel='stylesheet' href='style/main_style.css')
  link(rel='stylesheet' href='style/ready_products.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap' rel='stylesheet')
.menu
  img(src='./img/logo1.svg' alt='logo')
  nav
    ul
      li
        a(href='\product') Product
      li
        a(href='\order') Order
      li
        a(href='\customers') Customers
      li
        a(href='\ready_products') Ready Products
      li
        a(href='\archives') Archives
      br
      br
      li
        a(href='sing_out') Sing out
.main
  .search
    form
      input(name='str_search' type='text')
      select#type_search_item(name='type_search_item')
        option(value='id') id
        option(value='model') model
        option(value='customers') customers
      button#search_button
        img(src='./img/transparency.svg' alt='search')
  .table_product
    table
      tr
        th ID
        th MODEL
        th CUSTOMERS
        th ID_ORDER
        th SEND
      tr
        td 1
        td STANDARD
        td ERTOX
        td 1
        td
          button(type='submit') SEND
      tr
        td 2
        td VORT
        td MORES
        td 1
        td
          button(type='submit') SEND
      tr
        td 3
        td NOKIA
        td 11112312312
        td 3
        td
          button(type='submit') SEND
      tr
        td 3
        td NOKIA
        td 11112312312
        td 2
        td
          button(type='submit') SEND
