<head>
  <title>Comments</title>
  <link rel="stylesheet" href="style/main_style.css">
  <link rel="stylesheet" href="style/comments.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

  

<div class="main">
You have been logged out.<br>
You will be back to the main page in 5 seconds  
</div>