<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="style/main_style.css">
  <link rel="stylesheet" href="style/admin.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<div class="menu"><img src="img/logo1.svg" alt="logo">
  <nav>
    <ul><a href="/job_description">
        <li>Job Description</li>
      </a><a href="/order_user">
        <li>Order</li>
      </a><a href="/comments">
        <li>Comments</li>
      </a><br><br><a href="/sing_out"></a>
      <li>Sing out</li>
    </ul>
  </nav>
</div>
<div class="main">
  <h1>Hi,User</h1>
  <div class="menu_admin"><a id="product" href="job_description">Job Description</a><a id="order" href="order_user">Order</a><a id="customers" href="comments">Comments</a><a id="sing_out" href="sing_out">Sing out</a></div>
</div>